.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 15px Helvetica, Arial, sans-serif;
}

.breadcrumb a {
    color: #666;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb span {
    color: #666;
    text-decoration: none;
    padding: 10px 0 10px 20px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb a.active,
.breadcrumb a:hover {
    color: #5d5d5d;
    text-decoration: underline;
}

.sidebar {
    height: 300px;
    margin: 15% 30px 0 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaa;
    position: sticky;
    top: 200px;
}

.sidebar a{
    text-decoration: none;
    color: #000;
}

.sidebar a p {
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.sidebar .active>p:nth-child(1) {
    background-color: #e5a67a;
    color: #fff;
}

.sidebar a p:hover {
    background-color: #e5a67a;
    color: #fff;
}