body{
    background-image: url(./subtle_white_feathers.jpg);
}
header {
    border-bottom: 1px solid #000;
    text-align: center;
    height: 100px;
    background-color: #eee9d5;
}
.item>div{
    background-color: #f00;
    width: 15%;
}
.row>.col-2{
    border: 1px solid #000;
    height: 230px;
    margin: 15% 30px 0 0;
    background-color: #fff;
}
.row>.col-2>a{
    text-decoration: none;
    color: #000;
}
.row>.col-2>a>p{
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.row>.col-2>.active>p:nth-child(1){
    background-color: #e5a67a;
    color: #fff;
}
.row>.col-2>a>p:hover{
    background-color: #e5a67a;
    color: #fff;
}
.options{
    justify-content: space-around;
    border-bottom: 1px solid #000;
    margin: 30px;
}
.options>a{
    text-decoration: none;
    color: #000;
}
.options>a>h3{
    padding: 20px;
    border-radius: 5px;
}
.options a.active h3 {
    background-color: #e5a67a;
    font-weight: bolder;
    color: #fff;
}
.options>a>h3:hover{
    background-color: #e5a67a;
    font-weight: bolder;
    color: #fff;
}
.optionContainer{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaa;
}
.optionContainer h4{
    padding: 20px;
}
.item>p{
    padding: 0 20px;
}
.itemContainer{
    text-align: center;
}
.itemContainer .col-6 {
    font-weight: bolder;
    padding: 10px;
}
.itemContainer .col-6:nth-child(1),
.itemContainer .col-6:nth-child(2) {
    font-weight: normal;
}
.myButton{
    margin-top: 50px;
}
.myButton>p{
    border: 1px solid #000;
    /* color: #fff; */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.myButton>p:nth-child(1){
    background-color: #e5a67a;
    color: #fff;
}
.myButton>p:nth-child(2){
    order: -1;
}
.myButton>p:hover{
    font-weight: bolder;
    box-shadow: 0 0 0 1px #000;
}

.footer{
    background-color: #899acf;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}
/* 設定時間 */

input[type=hidden]{
    border: 1px solid #000;
}